*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.Header,
.Footer{
    font-size: 20px;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    background-color: black;
}

.users{
    padding: 30px 0px;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
}

.decrementAndincrement{
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.decrementAndincrement .btn{
    display: flex;
    gap: 20px;
}

.btn button{
    padding: 14px 50px;
}

.Circle{
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;

    border-radius: 50%;
}

.box{
    display: flex;
    flex-wrap: wrap;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.box{
    padding: 40px 0px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.box-2{
    width: 30vw;
    margin: auto;
    margin-bottom: 30px;
    height: 30vh;
    border: 3px solid #ccc;
}

.container{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.form input[type="number"]{
    outline: none;
    padding: 10px 40px;
    width: 300px;
    height: 5vh;
}

.form button{
    padding: 10px 50px;
    cursor: pointer;
}

.UsersApi .Id{
    display: flex;
    background-color: black;
    color: #fff;
}

.UsersApi p{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px 30px;
    font-size: 18px;
}